<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category.name %></title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <main>
        <h1><%= category.name %></h1>
        <p><%= category.description %></p>
        <% if ( items && items.length > 0 ) { %>
            <section>

                <ul>
                    <% items.forEach(item => { %>
                        <li>
                            <a href="items/<%= encodeURIComponent(item.name) %>/"><%= item.name %></a>
                            <form action="?item_id=<%= item.id %>" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" title="Delete Item">Delete</button>
                            </form> 
                        </li>
                    <% }); %>
                </ul>
            </section>
        <% } else { %>
            <h3>No items found , you can add a new item below</h3>
        <% } %>
        
        <a href="items/create">Add New Item</a>
        <a href="update">Update Category</a>
    </main>
</body>
</html>