<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Item</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <h1>Add a new item</h1>
      <% if ( locals.errorMessage ) {%>
        <%- include("snippets/errorMessage", {errorMessage: locals.errorMessage}) %>
      <% } %>

      <form action="" method="post">
        <label for="item-name">Item Name:-</label>
        <input type="text" name="itemName" id="item-name" />
        
        <%- include("snippets/formError",{name: "itemName"}) %>

        <label for="quantity">Quantity:- </label>
        <input type="number" name="quantity" id="quantity" />
        <%- include("snippets/formError",{name: "quantity"}) %>

        <label for="price">Price:- </label>
        <input type="number" name="price" id="price" />
        <%- include("snippets/formError",{name: "price"}) %>
  
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <%- include("snippets/formError",{name: "description"}) %>

        <button type="submit">Add Item</button>
      </form>
    </main>
  </body>
</html>
